In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Z:\\ML\\weather.csv')
df.drop(columns=['Example'],inplace=True)
df

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [16]:
S,G = [],[]
for i in range(len(df.columns)-1):
    S.append(None)
    G.append('?')
print(S,G)

[None, None, None, None, None, None] ['?', '?', '?', '?', '?', '?']

In [34]:
S,G = [],[]
for i in range(len(df.columns)-1):
    S.append(None)
    G.append('?')

for i in range(len(df)):
    h = list(df.loc[i])[:-2]
    print(h)
    if h['EnjoySport']=='yes':
        if list(h)!=S:
            for j in range(len(S)):
                if h[j]!=S[j]:
                    if S[j] == None:
                        S[j] = h[j]
                    else:
                        S[j] = '?'
    else:
        for j in range(len(h)):
            t = ['?']*len(h)
            print(h[j],S[j],j)
            if h[j]!=S[j] and S[j]!='?':
                t[j] = S[j]
                G.append(t)
                
print(S,G)

['sunny', 'warm', 'normal', 'strong', 'warm']

TypeError: list indices must be integers or slices, not str

In [31]:
df

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [ ]:
h