In [2]:
import pandas as pd
import numpy as np
import math

In [48]:
df = pd.read_csv('C:/Users/exam2/Downloads/play_tennis.csv')
df = df.drop(columns = ['day'])
dfp = df[df['play'] =='Yes']  #all positive cases
dfp = dfp.drop(columns=['play'])
dfn = df[df['play'] =='No']  #all negative cases
dfn = dfn.drop(columns=['play'])
df = df.drop(columns=['play'])
df

     outlook  temp humidity    wind
0      Sunny   Hot     High    Weak
1      Sunny   Hot     High  Strong
2   Overcast   Hot     High    Weak
3       Rain  Mild     High    Weak
4       Rain  Cool   Normal    Weak
5       Rain  Cool   Normal  Strong
6   Overcast  Cool   Normal  Strong
7      Sunny  Mild     High    Weak
8      Sunny  Cool   Normal    Weak
9       Rain  Mild   Normal    Weak
10     Sunny  Mild   Normal  Strong
11  Overcast  Mild     High  Strong
12  Overcast   Hot   Normal    Weak
13      Rain  Mild     High  Strong

In [49]:
def columns(df):
    for i in df.columns:
        col_att[i] = list(df[i].unique())

In [50]:
def yes_no(df):    
    for i in col_att:
        t1 = {}
        t2 = {}
        for j in col_att[i]:
            t1[str(j)] = list(dfp[i]).count(j)
            t2[str(j)] = list(dfn[i]).count(j)
        y[i] = t1
        n[i] = t2
    #print("yes : ",y)
    #print("no : ",n)

In [51]:
def entropy(att):
    pos = sum(list(y[att].values()))
    neg = sum(list(n[att].values()))
    t = pos+neg
    if pos==0 or neg==0:
        return 0
    return (-pos/t)*math.log(pos/t,2)-(neg/t)*math.log(neg/t,2)

In [52]:
def entropy_val(att,val):
    pos = y[att][val]
    neg = n[att][val]
    t = pos+neg
    if pos==0 or neg==0:
        return 0
    return (-pos/t)*math.log(pos/t,2)-(neg/t)*math.log(neg/t,2)

In [53]:
def gain(att):
    s = entropy(att)
    for i in col_att[att]:
        s -= (y[att][i]+n[att][i])/len(df)*entropy_val(att,i)
    return s

In [ ]:
def tree:

In [54]:
def max_val(d):
    v = list(d.values())
    k = list(d.keys())
    return k[v.index(max(v))]

In [60]:
att = col_att.keys()
t = {}
while att!=None:
    l = {}
    y = {}
    n = {}
    col_att = {}
    columns(df)
    yes_no(df)
    for i in att.keys():
        l[i] = gain(i)
    t[max_val(l)] = att.pop(max_val(l))
    print(t)
t

AttributeError: 'dict_keys' object has no attribute 'keys'

In [25]:
max_val(l)

'outlook'

In [61]:
att==Nonecol
-att.krys()

NameError: name 'Nonecol' is not defined