In [1]:
import pandas as pd

In [47]:
df = pd.read_csv('Z:\\ML\\weather.csv')
df

   Example    Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0        1  sunny    warm   normal  strong  warm     same        yes
1        2  sunny    warm     high  strong  warm     same        yes
2        3  rainy    cold     high  strong  warm   change         no
3        4  sunny    warm     high  strong  cool   change        yes

In [48]:
train = df[df['EnjoySport']=='yes']
train = train.reset_index()
train = train.drop(columns=['index','Example','EnjoySport'])
train

     Sky AirTemp Humidity    Wind Water Forecast
0  sunny    warm   normal  strong  warm     same
1  sunny    warm     high  strong  warm     same
2  sunny    warm     high  strong  cool   change

In [67]:
h = list(train.loc[0])
h

['sunny', 'warm', 'normal', 'strong', 'warm', 'same']

In [76]:
h = list(train.loc[0])
for i in range(len(train)):
    if list(train.loc[i])!=h:
        for j in range(len(h)):
            if train.loc[i][j]!=h[j]:
                h[j]='?'
h

['sunny', 'warm', '?', 'strong', '?', '?']

In [80]:
t = list(input().split())
c= 0
for i in range(len(h)):
    if t[i]!=h[i]:
        if h[i]!='?':
            c = 1
            break
if c==0:
    print('test is accepted')
else:
    print('test not accepted')

sunny	warm	normal	strong	warm	same
test is accepted